/* pc */
@media (max-width: 1024px){

}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    
}
/* Tablet & mobile */
@media (max-width: 1023px){
    .contact-info{
        line-height: 2;
    }
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    #footer .socials-list {
        font-size: 42px;
    }
    #footer a {
        margin: 0 8px;
    }
    #footer .coppyright a{
        padding: 12px 0;
        display: inline-block;
    }
}
/* mobile phone */
@media (max-width: 740px){
    .s-mt-8{
        margin-top: 8px;
    }
    .s-full-width{
        width: 100%;
    }
    #header {
        overflow: hidden;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav li{
        display: block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        padding: 0 41px;
        color: #fff;
    }
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #content .member-item {
        width: 100%;
    }
    .contact-form {
        margin-top: 32px;
    }
    
}